@media (max-width: 767px) and (min-height: 773px)
 {

.ContactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .contact_head {
    text-align: center;
    letter-spacing: 0.9em;
    margin-top: 14vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(186, 186, 186, 0.513);
    z-index:auto;
  }

  .contact_title {
    width: 90vw;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
    letter-spacing: 0.09em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .ContactPage .sub_title {
    width: 95vw;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sub_title img {
    width: 15px;
    margin: 0 2px;
  }
  
  .ContactPage .Form  {
    width: 90vw;
    position: absolute;
    top: 59%;
    transform: translateY(-41%);

  }
  .Form .input {
    background-color: white;
    border-radius: 6px;
    border: #333 solid 1px;
    line-height: 1.5em;
    letter-spacing: 0.07em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .Form .btn_form {
    width: 100%;
    height: 2.5em;
  }

  .Form .btn_form:hover {
    background-color: skyblue;
    border: skyblue solid 1px;
  }
}

  @media (min-width: 768px)
  and (max-width: 1023px){
    .ContactPage {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact_head {
      text-align: center;
      letter-spacing: 0.9em;
      margin-top: 7vh;
      color: rgba(186, 186, 186, 0.513);
    }
  
    .contact_title {
      width: 80vw;
      position: absolute;
      top: 25vh;
      left: 50%;
      transform: translateX(-50%);
      text-align: justify;
      letter-spacing: 0.05em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  
    .ContactPage .sub_title {
      width: 80vw;
      position: absolute;
      top: 36%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      text-align: center;
      justify-content: space-around;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .sub_title img {
      width: 16px;
      margin: 0px 4px 1px 0px;
    }
    
    .ContactPage .Form  {
      width: 80vw;
      position: absolute;
      top: 58%;
      transform: translateY(-42%);
  
    }
    .Form .input {
      background-color: white;
      border-radius: 6px;
      border: #333 solid 1px;
      line-height: 1.7em;
      letter-spacing: 0.07em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
    .Form .btn_form {
      width: 100%;
      height: 2.5em;
    }
  
    .Form .btn_form:hover {
      background-color: skyblue;
      border: skyblue solid 1px;
    }
  }
 
  @media (min-width: 1024px) and (min-height: 600px ){
    .ContactPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
      height: 100vh;
    }
    .contact_head {
      text-align: center;
      letter-spacing: 1em;
      margin-top: 7vh;
      font-size: 28px;
      color: rgba(186, 186, 186, 0.513);
    }
  
    .contact_title {
      width: 65vw;
      position: absolute;
      top: 30vh;
      left: 50%;
      transform: translateX(-50%);
      text-align: justify;
      letter-spacing: 0.02em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  
    .ContactPage .sub_title {
      width: 80vw;
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .sub_title img {
      width: 1.3em;
      margin: 0px 5px 1px 0px;
    }
    
    .ContactPage .Form  {
      width: 65vw;
      position: absolute;
      top: 48%;
  
    }
    .Form .input {
      background-color: white;
      border-radius: 4px;
      border: #333 solid 1px;
      line-height: 1.7em;
      letter-spacing: 0.07em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
    .Form .btn_form {
      width: 100%;
      height: 2.5em;
    }
  
    .Form .btn_form:hover {
      background-color: skyblue;
      border: skyblue solid 1px;
    }
  }
 
  