.ContactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .contact_title {
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    position: absolute;
    top: 1%;
  }
  
  .ContactPage .Form  {
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .Form .btn_form {
    width: 400px;
    margin-top:10px;
  }