.Footer {
width: 100vw;
position: sticky;
bottom: 0%;
top: 95%;
color: rgba(211, 211, 211, 0.614);
}

@media (365px <= width <= 800px){
    .Footer {
        width: 100vw;
        position: sticky;
        

    }
}