@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Rock+Salt&display=swap');

.App {
  background-color: #333;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  font-family: 'Borel', cursive;
  font-family: 'Bricolage Grotesque', sans-serif;
  overflow: hidden;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #333;
  line-height: 2rem;
  box-shadow: rgba(30, 30, 37, 0.537) 0px 7px 29px 0px;
}

.Navbar .logo {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

.logo h2 a {
  text-decoration: none;
  font-family: 'Rock Salt', cursive;
  color: whitesmoke;
}

.logo h2 {
  margin: 10px 90px;
  font-size: 19px;
  font-weight: 600;
  
}

.Navbar ul {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 10px 5px;
  
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.HomePage{
display: flex;
flex-direction: row;
justify-content: center;
height: 100vh;
width: 100vw;

}

 .HomePage button {
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  font-size: 18px;
} 
.HomePage .imgDiv {
  margin: 250px;
}

.imgDiv h2 {
  margin-top: 15px;
  opacity:0.4;
  color: whitesmoke;
}

.HomePage .myImg {
  width: 200px;
  height: 200px;
  box-shadow: rgba(232, 232, 232, 0.656) 5px 2px 30px;
}


.HomePage button:hover {
  background-color: orange;
  color: black;
  border-color: orange;
}

.AboutPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.ContactPage {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ContactPage .contact-title {
  margin: 150px;
}

.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  position: absolute;
  top: 1%;
}

.ContactPage .Form  {
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-contact img {
  width: 16px;
  height: 16px;
}

