@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Rock+Salt&display=swap');

.App {
  background-color: #191919;
  color: whitesmoke;
  width: auto;
  height: auto;
  font-family: 'Borel', cursive;
  font-family: 'Bricolage Grotesque', sans-serif;
  overflow:auto;
  margin: 0;
  padding: 0;
}






